section.content {
  a {
    span.heading-link:before {
      display: inline-block;
      content: "#";
      padding: 0 3px;
    }
  }

  h1,
  h2,
  h3 {
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
    background-color: black;
    box-shadow: 0 0 10px black;
  }

  p {
    margin-bottom: 2em;
  }
}
